node_modules
npm-debug.log*
yarn.lock
pnpm-lock.yaml
package-lock.json

.next
.turbo
.vercel
coverage
dist
build

*.log
*.pid
*.seed
*.pid.lock

.DS_Store
Thumbs.db

.git
.gitignore
.gitattributes

**/.env
**/.env.*

apps/web/.next
apps/web/node_modules
apps/web/coverage
apps/web/.turbo

apps/api/node_modules
apps/api/storage/logs
apps/api/storage/framework/cache
apps/api/storage/framework/sessions
apps/api/storage/framework/views
apps/api/vendor

ops/nginx/*.log

